---
layout: blank
---
<main>
  <article>
    <header>
      <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
      <time datetime="{{ page.date | date_to_xmlschema }}">{% assign m = page.date | date: "%-m" %} 
{{ page.date | date: "%-d" }} de 
{% case m %}
  {% when '1' %}janeiro
  {% when '2' %}fevereiro
  {% when '3' %}mar&ccedil;o
  {% when '4' %}abril
  {% when '5' %}maio
  {% when '6' %}junho
  {% when '7' %}julho
  {% when '8' %}agosto
  {% when '9' %}setembro
  {% when '10' %}outubro
  {% when '11' %}novembro
  {% when '12' %}dezembro
{% endcase %} de 
{{ page.date | date: "%Y" }}</time>
    </header>
{{ content }}
    {% if site.comments.isso and page.comments %}
    <hr><div id="isso-thread"></div>
    {% endif %}
    {% if site.comments.disqus and page.comments %}
    <hr><div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
  </article>
</main>
